* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    color: gray;
    outline: none;
}

body {
    display: grid;
    place-items: center;
    background-color: blueviolet;
}

h1 {
    margin-top: 20px;
    font-size: 4rem;
    text-align: center;
    color: white;
}

main {
    border-radius: 20px;
    padding: 44px 24px 23px;
    margin-top: 10px;
    width: 375px;
    background-color: rgb(235, 235, 235);
}

label {
    font-size: 0.8rem;    
}


main input, select {
    margin-top: 6px;
    padding-left: 18px;
    width: 100%;
    height: 48px;
    border-radius: 4px;
    border: 1px solid gray;
    appearance: none;
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 24px;
}

button {
    background-color: blueviolet;
    color: white;
    width: 100%;
    margin: 0 auto;
    height: 48px;
    border: none;
    font-size: 1rem;
    font-weight: 700;
    border-radius: 4px;
    box-shadow: 1px 1px 10px gray;
    cursor: pointer;
    margin-bottom: 36px;
}

button:hover {
    opacity: .8;
}

button:active {
    opacity: 0.6;
}


section {
    border: 1px solid blueviolet;
    padding: 12px;
    border-radius: 20px;
    display: flex;
    height: 327px;
    align-items: center;
    flex-direction: column;
    text-align: center;
    justify-content: space-around;
}

.valor, .valor-para-converter {
    font-weight: 700;
}